PULL_TO_REFRESH: "Дръпни за рефреш!"
RETRY: "Отново"
CANCEL: "Отказ"
SUBMIT: "Изпращане"
BACK: "Назад"
ERROR: "Something wrong happened, please try again."
ATTEMPT_TO_CONNECT: "Attempt to connect {{attempt}} of {{attemptMax}}."
OK: "Ок"
YES: "Да"
NO: "Не"
EMPTY_LIST: "There is nothing here!"
MENU: "Меню"
TAGS: "Тагове"
PAGES: "Страници"
POSTS: "Постове"
AUTHORS: "Автори"
SEARCH: "Търси"
SEARCH_START: "Type a keyword"
SOCIAL_NETWORKS: "Social Networks"
CATEGORIES: "Categories"
SETTINGS: "Настройки"
ZOOM: "Zoom"
FEATURED: "Опций"
OPEN_IN_BROWSER: "Отвори в браузъра"
ABOUT: "Относно"
COMMENTS: "Коментари"

CUSTOM_POSTS: "Custom posts"
CUSTOM_TAXO: "Custom Taxonomy"
CUSTOM_TAXO_TITLE: "{{term}}: {{name}}"

PUSH_NOTIFS: "Push notifications"
PUSH_NOTIF_TITLE: "New content!"
PUSH_NOTIF_TEXT: "A new Post/Page: '{{postTitle}}' has been released on {{appTitle}}, do you want to open it?"

BOOKMARKS: "Bookmarks"
BOOKMARKS_EMPTY: "Nothing bookmarked yet!"
BOOKMARK_ADDED: "Bookmarked!"
BOOKMARK_REMOVED: "Bookmark removed!"

CACHE_CLEAR: "Clear cache"
CACHE_CLEAR_PROMPT: "This cannot be undone!"
CACHE_CLEARED: "Cache cleared"

TITLE_TAGS: "Тагове"
TITLE_TAG: "Таг: {{name}}"
TITLE_CATEGORIES: "Категории"
TITLE_CATEGORY: "Категория: {{name}}"
TITLE_HOME: "Начало"
TITLE_SEARCH: "Search"
TITLE_PAGES: "Страници"
TITLE_POSTS: "Постове"
TITLE_USERS: "Автори"
TITLE_USER: "Автор"
TITLE_USER_POSTS: "Автор: {{name}}"

SHARE_SUCCESS: "Successfully shared!"
SHARE_ERROR: "Sharing failed"

# CUSTOM NO NEED TO TRANSLATE IN OTHER LANGUAGES
TITLE_MOVIE: "Movies"
TITLE_ACTOR: "Actors"